In [20]:
import pandas as pd
from pathlib import Path

data_path = Path('../../data_analysis_lect/datasets/bookings/Bookings.csv')
df = pd.read_csv(data_path)

# info 메서드를 이용한 데이터테이블의 개략적 정보 파악
df.info()

# describe 메서드를 이용한 데이터테이블의 수치형 통계정보 파악
df.describe()

# describe 메서드를 이용한 데이터테이블의 번주형 통계정보 파악
df.describe(include='object')

# 고유값과 고유값들이 나타나는 빈도수 구하기
df['Review'].value_counts()

# review 열의 일부 값 수정 및 value_counts 메서드 재실행
df.loc[df['Review'] == "Superb 9.0", "Review"] = "Superb "
df.loc[df['Review'] == "Exceptional 10", "Review"] = "Exceptional "

df['Review'].value_counts()

# unique 메서드를 이용한 고유값 확인
df['Total_Review'].unique()

# Total review 열 일부 값 수정 후 unique 메서드 재실행
df['Total_Review'] = df['Total_Review'].map(lambda x: str(x).replace('external','').strip())
df['Total_Review'] = df['Total_Review'].map(lambda x: str(x).replace('review','').strip())
df['Total_Review'] = df['Total_Review'].map(lambda x: str(x).replace(',',''))
df['Total_Review'] = df['Total_Review'].astype('float')

df['Total_Review'].describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525 entries, 0 to 524
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Hotel_Name    525 non-null    object
 1   Review        325 non-null    object
 2   Total_Review  325 non-null    object
 3   Rating        315 non-null    float64
 4   Location      525 non-null    object
dtypes: float64(1), object(4)
memory usage: 20.6+ KB

count      325.000000
mean      1771.630769
std       2530.013514
min          1.000000
25%        343.000000
50%        920.000000
75%       2189.000000
max      16148.000000
Name: Total_Review, dtype: float64

In [21]:
df['Review'].value_counts()

Review
Very good        117
Good             116
Review score      31
Fabulous          30
Superb            24
Exceptional        7
Name: count, dtype: int64

In [13]:
df.loc[df['Review'] == "Superb 9.0", "Review"] = "Superb "

In [14]:
df['Review'].value_counts()

Review
Very good        117
Good             116
Review score      31
Fabulous          30
Superb            24
Exceptional        7
Name: count, dtype: int64

In [15]:
data_path = Path('../data_analysis/datasets/bookings/Bookings.csv')
df = pd.read_csv(data_path)

# info 메서드를 이용한 데이터테이블의 개략적 정보 파악
df.info()

# describe 메서드를 이용한 데이터테이블의 수치형 통계정보 파악
df.describe()

# describe 메서드를 이용한 데이터테이블의 번주형 통계정보 파악
df.describe(include='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525 entries, 0 to 524
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Hotel_Name    525 non-null    object
 1   Review        325 non-null    object
 2   Total_Review  325 non-null    object
 3   Rating        315 non-null    float64
 4   Location      525 non-null    object
dtypes: float64(1), object(4)
memory usage: 20.6+ KB

                            Hotel_Name      Review Total_Review    Location
count                              525         325          325         525
unique                             498           8          255          25
top     Oakwood Residence Midtown East  Very good      1 review  Manhattan
freq                                 2         117            5         112

In [16]:
df['Review'].value_counts()

Review
Very good         117
Good              116
Review score       31
Fabulous           30
Superb             16
Superb 9.0          8
Exceptional         5
Exceptional 10      2
Name: count, dtype: int64

In [17]:
df.loc[df['Review'] == "Superb 9.0", "Review"] = "Superb "
df['Review'].value_counts()

Review
Very good         117
Good              116
Review score       31
Fabulous           30
Superb             24
Exceptional         5
Exceptional 10      2
Name: count, dtype: int64

In [18]:
df.loc[df['Review'] == "Exceptional 10", "Review"] = "Exceptional "
df['Review'].value_counts()

Review
Very good        117
Good             116
Review score      31
Fabulous          30
Superb            24
Exceptional        7
Name: count, dtype: int64

In [19]:
df['Total_Review'].unique()

array(['28', '52', '2,870', '975', '13,951', '8,044', '16,148', '343',
       '6,038', '2,028', '9,659', '4,435', '7,298', '11,455', '2,802',
       '1,847', '2,189', '703', '1,382', '4,646', '951', '4,498', '1,475',
       '6,245', '5,866', '959', '1,876', '848', '3,097', '3,477', '1,648',
       '46', '2,289', '148', '664', '1,867', '1,067', '130', '920',
       '2,560', '3,878', '1,698', '719', '7,585', '1,180', '2,035',
       '6,144', '638', '9,240', '3,907', '3,128', '2,383', '833', '558',
       '3,170', '2,857', '981', '192', '1,449', '1,373', '598', '3,859',
       '3,639', '1,048', '2,859', '2,412', '749', '6,639', '1,143',
       '2,353', '3,002', '8,844', '57', '657', '2,535', '946', '1,087',
       '3,627', '844', '483', '1,078', '1,074', '1,797', '728', '415',
       '766', '523', '770', '178', '464', '647', '1,225', '562',
       '1 review', '1,188', '1,260', '4,246', '2,521', '586', '1,643',
       '1,243', '2,623', '621', '488', '607', '1,425', '1,389', '2,014',
       '1,000', '2,299', '595', '751', '159', '1,550', '1,030', '4,166',
       '1,089', nan, '663', '579', '1,864', '377', '832', '718', '1,294',
       '3,255', '495', '1,736', '1,918', '333', '234', '114', '2,620',
       '754', '1,105', '94', '1,097', '2,446', '665', '1,169', '2,717',
       '988', '1,046', '321', '317', '108', '76', '721', '1,420', '1,519',
       '49', '407', '193', '4,092', '965', '307', '2,317', '2,982',
       '3,832', '269', '1,834', '707', '425', '390', '985', '693',
       '1,218', '113', '1,122', '966', '711', '1,220', '13', '2,533',
       '233', '14', '553', '601', '532', '65 external  ', '1,592', '855',
       '400', '386', '1,092', '259', '411', '865', '3,471', '723', '525',
       '943', '1,500', '325', '1,708', '230', '227', '1,778', '53',
       '4,288', '787', '355', '1,251', '128', '258', '125', '699', '285',
       '109', '30', '1,754', '437', '60', '200', '2', '453', '769', '465',
       '6', '524', '434', '372', '817', '472', '314', '168', '1,085',
       '1,195', '1,118', '1,471', '416', '173', '352', '385', '1,482',
       '22 external  ', '241', '497', '117', '59', '79', '3',
       '3 external  ', '379', '42', '255', '99', '212', '602', '9', '165',
       '146', '14 external  ', '13 external  ', '7 external  ',
       '4 external  '], dtype=object)

In [24]:
# Total review 열 일부 값 수정 후 unique 메서드 재실행
df['Total_Review'] = df['Total_Review'].map(lambda x: str(x).replace('external','').strip())
df['Total_Review'] = df['Total_Review'].map(lambda x: str(x).replace('review','').strip())
df['Total_Review'] = df['Total_Review'].map(lambda x: str(x).replace(',',''))
df['Total_Review'] = df['Total_Review'].astype('float')

df['Total_Review'].describe()

count      325.000000
mean      1771.630769
std       2530.013514
min          1.000000
25%        343.000000
50%        920.000000
75%       2189.000000
max      16148.000000
Name: Total_Review, dtype: float64

In [25]:
df['Total_Review'].unique()

array([2.8000e+01, 5.2000e+01, 2.8700e+03, 9.7500e+02, 1.3951e+04,
       8.0440e+03, 1.6148e+04, 3.4300e+02, 6.0380e+03, 2.0280e+03,
       9.6590e+03, 4.4350e+03, 7.2980e+03, 1.1455e+04, 2.8020e+03,
       1.8470e+03, 2.1890e+03, 7.0300e+02, 1.3820e+03, 4.6460e+03,
       9.5100e+02, 4.4980e+03, 1.4750e+03, 6.2450e+03, 5.8660e+03,
       9.5900e+02, 1.8760e+03, 8.4800e+02, 3.0970e+03, 3.4770e+03,
       1.6480e+03, 4.6000e+01, 2.2890e+03, 1.4800e+02, 6.6400e+02,
       1.8670e+03, 1.0670e+03, 1.3000e+02, 9.2000e+02, 2.5600e+03,
       3.8780e+03, 1.6980e+03, 7.1900e+02, 7.5850e+03, 1.1800e+03,
       2.0350e+03, 6.1440e+03, 6.3800e+02, 9.2400e+03, 3.9070e+03,
       3.1280e+03, 2.3830e+03, 8.3300e+02, 5.5800e+02, 3.1700e+03,
       2.8570e+03, 9.8100e+02, 1.9200e+02, 1.4490e+03, 1.3730e+03,
       5.9800e+02, 3.8590e+03, 3.6390e+03, 1.0480e+03, 2.8590e+03,
       2.4120e+03, 7.4900e+02, 6.6390e+03, 1.1430e+03, 2.3530e+03,
       3.0020e+03, 8.8440e+03, 5.7000e+01, 6.5700e+02, 2.5350e+03,
       9.4600e+02, 1.0870e+03, 3.6270e+03, 8.4400e+02, 4.8300e+02,
       1.0780e+03, 1.0740e+03, 1.7970e+03, 7.2800e+02, 4.1500e+02,
       7.6600e+02, 5.2300e+02, 7.7000e+02, 1.7800e+02, 4.6400e+02,
       6.4700e+02, 1.2250e+03, 5.6200e+02, 1.0000e+00, 1.1880e+03,
       1.2600e+03, 4.2460e+03, 2.5210e+03, 5.8600e+02, 1.6430e+03,
       1.2430e+03, 2.6230e+03, 6.2100e+02, 4.8800e+02, 6.0700e+02,
       1.4250e+03, 1.3890e+03, 2.0140e+03, 1.0000e+03, 2.2990e+03,
       5.9500e+02, 7.5100e+02, 1.5900e+02, 1.5500e+03, 1.0300e+03,
       4.1660e+03, 1.0890e+03,        nan, 6.6300e+02, 5.7900e+02,
       1.8640e+03, 3.7700e+02, 8.3200e+02, 7.1800e+02, 1.2940e+03,
       3.2550e+03, 4.9500e+02, 1.7360e+03, 1.9180e+03, 3.3300e+02,
       2.3400e+02, 1.1400e+02, 2.6200e+03, 7.5400e+02, 1.1050e+03,
       9.4000e+01, 1.0970e+03, 2.4460e+03, 6.6500e+02, 1.1690e+03,
       2.7170e+03, 9.8800e+02, 1.0460e+03, 3.2100e+02, 3.1700e+02,
       1.0800e+02, 7.6000e+01, 7.2100e+02, 1.4200e+03, 1.5190e+03,
       4.9000e+01, 4.0700e+02, 1.9300e+02, 4.0920e+03, 9.6500e+02,
       3.0700e+02, 2.3170e+03, 2.9820e+03, 3.8320e+03, 2.6900e+02,
       1.8340e+03, 7.0700e+02, 4.2500e+02, 3.9000e+02, 9.8500e+02,
       6.9300e+02, 1.2180e+03, 1.1300e+02, 1.1220e+03, 9.6600e+02,
       7.1100e+02, 1.2200e+03, 1.3000e+01, 2.5330e+03, 2.3300e+02,
       1.4000e+01, 5.5300e+02, 6.0100e+02, 5.3200e+02, 6.5000e+01,
       1.5920e+03, 8.5500e+02, 4.0000e+02, 3.8600e+02, 1.0920e+03,
       2.5900e+02, 4.1100e+02, 8.6500e+02, 3.4710e+03, 7.2300e+02,
       5.2500e+02, 9.4300e+02, 1.5000e+03, 3.2500e+02, 1.7080e+03,
       2.3000e+02, 2.2700e+02, 1.7780e+03, 5.3000e+01, 4.2880e+03,
       7.8700e+02, 3.5500e+02, 1.2510e+03, 1.2800e+02, 2.5800e+02,
       1.2500e+02, 6.9900e+02, 2.8500e+02, 1.0900e+02, 3.0000e+01,
       1.7540e+03, 4.3700e+02, 6.0000e+01, 2.0000e+02, 2.0000e+00,
       4.5300e+02, 7.6900e+02, 4.6500e+02, 6.0000e+00, 5.2400e+02,
       4.3400e+02, 3.7200e+02, 8.1700e+02, 4.7200e+02, 3.1400e+02,
       1.6800e+02, 1.0850e+03, 1.1950e+03, 1.1180e+03, 1.4710e+03,
       4.1600e+02, 1.7300e+02, 3.5200e+02, 3.8500e+02, 1.4820e+03,
       2.2000e+01, 2.4100e+02, 4.9700e+02, 1.1700e+02, 5.9000e+01,
       7.9000e+01, 3.0000e+00, 3.7900e+02, 4.2000e+01, 2.5500e+02,
       9.9000e+01, 2.1200e+02, 6.0200e+02, 9.0000e+00, 1.6500e+02,
       1.4600e+02, 7.0000e+00, 4.0000e+00])