In [1]:
import pandas as pd
from pathlib import Path

data_path = Path('../../data_analysis_lect/datasets/product/product.csv')
df = pd.read_csv(data_path)
df.head()

         date process factory operator product_id passfail
0  2023-02-01      P1      A2        1    A259721        P
1  2023-02-01      P2      A2        V    A259721        P
2  2023-02-01      P3      A2        Y    A259721        P
3  2023-02-01      P1      A2        1    A100109        P
4  2023-02-01      P2      A2        W    A100109        P

In [2]:
# join 메서드를 이용한 문자열 groupby
df['path'] = df.groupby('product_id')['operator'].transform(lambda x: '_'.join(x))
df['path']

0       1_V_Y
1       1_V_Y
2       1_V_Y
3       1_W_Y
4       1_W_Y
        ...
1057    1_V_Y
1058    1_V_Y
1059    1_V_Y
1060    1_V_Y
1061    1_V_Y
Name: path, Length: 1062, dtype: object

In [3]:
# 각 "product_id" 값 당 하나의 행만 가지도록 데이터를 정리
df['path'] = df['factory'] + '_' + df['path']
df = df.drop_duplicates('product_id')
df = df[['date','product_id','passfail','path']]
df

            date product_id passfail      path
0     2023-02-01    A259721        P  A2_1_V_Y
3     2023-02-01    A100109        P  A2_1_W_Y
6     2023-02-01    A870944        P  A2_2_W_Y
9     2023-02-01    A587346        P  A2_2_V_Y
12    2023-02-01    A525921        P  A2_2_V_X
...          ...        ...      ...       ...
1047  2023-03-31    A917956        P  A1_2_W_Y
1050  2023-03-31    A860621        P  A2_1_V_X
1053  2023-03-31    A268064        P  A2_1_V_X
1056  2023-03-31    A817755        P  A2_1_V_Y
1059  2023-03-31    A332162        P  A1_1_V_Y

[354 rows x 4 columns]

In [4]:
# passfail 변수의 그룹화를 통해 path의 고유값과 빈도수 확인
df.groupby('passfail')['path'].value_counts()

passfail  path
F         A2_2_W_X     3
          A2_2_V_X     3
          A2_1_V_X     2
          A2_1_W_X     1
P         A1_1_V_X    32
          A1_1_V_Y    26
          A2_1_W_Y    24
          A2_1_V_X    24
          A1_1_W_Y    23
          A1_2_W_Y    23
          A2_2_W_X    22
          A1_2_V_X    22
          A1_2_V_Y    22
          A2_2_W_Y    21
          A2_1_V_Y    20
          A2_1_W_X    20
          A2_2_V_Y    17
          A1_1_W_X    17
          A2_2_V_X    16
          A1_2_W_X    16
Name: count, dtype: int64

In [5]:

# passfail 변수의 그룹화를 통해 date의 고유값과 빈도수 확인
df.groupby(['passfail'])['date'].value_counts()

passfail  date
F         2023-03-10    3
          2023-03-12    2
          2023-03-11    2
          2023-03-09    2
P         2023-02-28    6
                       ..
          2023-02-22    6
          2023-03-12    4
          2023-03-11    4
          2023-03-09    4
          2023-03-10    3
Name: count, Length: 63, dtype: int64