In [1]:
import pandas as pd
from pathlib import Path

data_path = Path('../../data_analysis_lect/datasets/German_credit/German_credit.csv')
df = pd.read_csv(data_path)
df.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,67,male,2,own,NaN,little,1169,6,radio/TV
1,22,female,2,own,little,moderate,5951,48,radio/TV
2,49,male,1,own,little,NaN,2096,12,education
3,45,male,2,free,little,little,7882,42,furniture/equipment
4,53,male,2,free,little,little,4870,24,car

In [3]:
# describe를 통한 Age 변수 확인
df['Age'].describe()

count    1000.000000
mean       35.546000
std        11.375469
min        19.000000
25%        27.000000
50%        33.000000
75%        42.000000
max        75.000000
Name: Age, dtype: float64

In [4]:
# cut 메서드를 이용한 수치형 변수 구간화 bins: 몇개의 일정한 길이의 구간으로 쪼갤지
pd.cut(df['Age'], bins=8)

0        (61.0, 68.0]
1      (18.944, 26.0]
2        (47.0, 54.0]
3        (40.0, 47.0]
4        (47.0, 54.0]
            ...
995      (26.0, 33.0]
996      (33.0, 40.0]
997      (33.0, 40.0]
998    (18.944, 26.0]
999      (26.0, 33.0]
Name: Age, Length: 1000, dtype: category
Categories (8, interval[float64, right]): [(18.944, 26.0] < (26.0, 33.0] < (33.0, 40.0] < (40.0, 47.0] < (47.0, 54.0] < (54.0, 61.0] < (61.0, 68.0] < (68.0, 75.0]]

In [6]:
# 구간별 데이터 개수 확인
pd.cut(df['Age'], bins=8).reset_index().groupby('Age', observed=False).size()

Age
(18.944, 26.0]    240
(26.0, 33.0]      276
(33.0, 40.0]      210
(40.0, 47.0]      123
(47.0, 54.0]       72
(54.0, 61.0]       41
(61.0, 68.0]       31
(68.0, 75.0]        7
dtype: int64

In [7]:
# cut 메서드를 통한 임의 구간화
bins = [10, 20, 30, 40, 50, 60, 70, 80]
pd.cut(df['Age'], bins=bins)

0      (60, 70]
1      (20, 30]
2      (40, 50]
3      (40, 50]
4      (50, 60]
         ...
995    (30, 40]
996    (30, 40]
997    (30, 40]
998    (20, 30]
999    (20, 30]
Name: Age, Length: 1000, dtype: category
Categories (7, interval[int64, right]): [(10, 20] < (20, 30] < (30, 40] < (40, 50] < (50, 60] < (60, 70] < (70, 80]]

In [8]:
# right 인자를 이용한 오른쪽 닫힌 구간 범주화
bins = [10, 20, 30, 40, 50, 60, 70, 80]
pd.cut(df['Age'], bins=bins, right=False)

0      [60, 70)
1      [20, 30)
2      [40, 50)
3      [40, 50)
4      [50, 60)
         ...
995    [30, 40)
996    [40, 50)
997    [30, 40)
998    [20, 30)
999    [20, 30)
Name: Age, Length: 1000, dtype: category
Categories (7, interval[int64, left]): [[10, 20) < [20, 30) < [30, 40) < [40, 50) < [50, 60) < [60, 70) < [70, 80)]

In [9]:
# qcut
pd.qcut(df['Age'], q=8)

0      (49.125, 75.0]
1      (18.999, 24.0]
2      (42.0, 49.125]
3      (42.0, 49.125]
4      (49.125, 75.0]
            ...
995      (30.0, 33.0]
996      (36.0, 42.0]
997      (36.0, 42.0]
998    (18.999, 24.0]
999      (24.0, 27.0]
Name: Age, Length: 1000, dtype: category
Categories (8, interval[float64, right]): [(18.999, 24.0] < (24.0, 27.0] < (27.0, 30.0] < (30.0, 33.0] < (33.0, 36.0] < (36.0, 42.0] < (42.0, 49.125] < (49.125, 75.0]]

In [11]:
# qcut으로 나눈 범주형 변수의 구간별 데이터 개수 확인
pd.qcut(
    df['Age'], q=8, duplicates='drop'
).reset_index().groupby('Age',observed=False).size()

Age
(18.999, 24.0]    149
(24.0, 27.0]      142
(27.0, 30.0]      120
(30.0, 33.0]      105
(33.0, 36.0]      111
(36.0, 42.0]      138
(42.0, 49.125]    110
(49.125, 75.0]    125
dtype: int64

In [2]:
#
import pandas as pd
s = pd.Series([0, 0, 1, 1, 0, 1, 1, 1, 1, 0])
s

0    0
1    0
2    1
3    1
4    0
5    1
6    1
7    1
8    1
9    0
dtype: int64

In [3]:
#
sc = s.cumsum()
sc

0    0
1    0
2    1
3    2
4    2
5    3
6    4
7    5
8    6
9    6
dtype: int64

In [4]:
#
s.mul(sc)

0    0
1    0
2    1
3    2
4    0
5    3
6    4
7    5
8    6
9    0
dtype: int64

In [4]:
#
s.mul(sc).diff()

0    NaN
1    0.0
2    1.0
3    1.0
4   -2.0
5    3.0
6    1.0
7    1.0
8    1.0
9   -6.0
dtype: float64

In [6]:
#
s.mul(sc).diff().where(lambda x: x<0)

0    NaN
1    NaN
2    NaN
3    NaN
4   -2.0
5    NaN
6    NaN
7    NaN
8    NaN
9   -6.0
dtype: float64

In [5]:

#
s.mul(sc).diff().where(lambda x: x<0).ffill()

0    NaN
1    NaN
2    NaN
3    NaN
4   -2.0
5   -2.0
6   -2.0
7   -2.0
8   -2.0
9   -6.0
dtype: float64

In [6]:

#
s.mul(sc).diff().where(lambda x: x<0).ffill().add(sc, fill_value=0)

0    0.0
1    0.0
2    1.0
3    2.0
4    0.0
5    1.0
6    2.0
7    3.0
8    4.0
9    0.0
dtype: float64

In [11]:

# 실전 데이터에 적용
data_path = Path('../data_analysis/datasets/APPL_price/APPL_price.csv')
df = pd.read_csv(data_path)
s = df['Close'] > 175
s.sum()

22

In [7]:

# 실전 데이터에 적용
sc = s.cumsum()
sc

0    0
1    0
2    1
3    2
4    2
5    3
6    4
7    5
8    6
9    6
dtype: int64

In [9]:
s.mul(sc)

0    0
1    0
2    1
3    2
4    0
5    3
6    4
7    5
8    6
9    0
dtype: int64

In [10]:
s.mul(sc).diff()

0    NaN
1    0.0
2    1.0
3    1.0
4   -2.0
5    3.0
6    1.0
7    1.0
8    1.0
9   -6.0
dtype: float64

In [11]:
s.mul(sc).diff().where(lambda x: x<0)

0    NaN
1    NaN
2    NaN
3    NaN
4   -2.0
5    NaN
6    NaN
7    NaN
8    NaN
9   -6.0
dtype: float64

In [13]:
s.mul(sc).diff().where(lambda x: x<0).ffill()

0    NaN
1    NaN
2    NaN
3    NaN
4   -2.0
5   -2.0
6   -2.0
7   -2.0
8   -2.0
9   -6.0
dtype: float64

In [14]:
s.mul(sc).diff().where(lambda x: x<0).ffill().add(sc, fill_value=0)

0    0.0
1    0.0
2    1.0
3    2.0
4    0.0
5    1.0
6    2.0
7    3.0
8    4.0
9    0.0
dtype: float64

In [15]:
s.mul(sc).diff().where(lambda x: x<0).ffill().add(sc, fill_value=0).max()

4.0