In [ ]:
import pandas as pd
from pathlib import Path

data_path = Path('../data_analysis/datasets/bookings/Bookings.csv')
df = pd.read_csv(data_path)
df.info()

# bookings 데이터셋에서 "Review" 열이 결측치인 행의 상위 5개 인덱스 호출
index = df[df['Rating'].isna()].head(5).index
index

# 해당 열의 평균값으로 결측치를 대체
df['Rating'] = df['Rating'].fillna(df['Rating'].mean())

# "Rating"열이 결측치였던 인덱스를 재호출
df.loc[index, 'Rating']

# 결측치를 포함하는 간단한 Pandas Series를 생성
import numpy as np
s = pd.Series([1, np.nan, np.nan,2, np.nan, 3])
s

# 결측치 이전에 있던 값으로 결측치를 대체
#s.fillna(method='ffill') Pandas 버전 1.4.0 부터 아래 표현으로 대체됨
s_filled = s.ffill()  # 이전 값으로 채우기
print(s_filled)

# 결측치 이후에 나오는 값으로 이전 결측치를 대체
#s.fillna(method='bfill')  Pandas 버전 1.4.0 부터 아래 표현으로 대체됨
s_bfilled = s.bfill()
print(s_bfilled)

# dropna 메서드를 이용한 결측치 제거
data_path = Path('../data_analysis/datasets/bookings/Bookings.csv')
df = pd.read_csv(data_path)
df = df.dropna()
df.info()

data_path = Path('../data_analysis/datasets/bookings/Bookings.csv')
df = pd.read_csv(data_path)
df = df.dropna(subset='Review', axis=0) # Review 열에 있는 결측치만 판단
df.info()
df['Review'].isna().sum()

In [2]:
import pandas as pd
from pathlib import Path

data_path = Path('../data_analysis/datasets/bookings/Bookings.csv')
df = pd.read_csv(data_path)
df.info()

# bookings 데이터셋에서 "Review" 열이 결측치인 행의 상위 5개 인덱스 호출
index = df[df['Rating'].isna()].head(5).index
index

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525 entries, 0 to 524
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Hotel_Name    525 non-null    object
 1   Review        325 non-null    object
 2   Total_Review  325 non-null    object
 3   Rating        315 non-null    float64
 4   Location      525 non-null    object
dtypes: float64(1), object(4)
memory usage: 20.6+ KB

Index([167, 168, 169, 170, 171], dtype='int64')

In [5]:
# 해당 열의 평균값으로 결측치를 대체
df['Rating'] = df['Rating'].fillna(df['Rating'].mean())

# "Rating"열이 결측치였던 인덱스를 재호출
df.loc[index, 'Rating']

167    7.883492
168    7.883492
169    7.883492
170    7.883492
171    7.883492
Name: Rating, dtype: float64

In [3]:
import numpy as np
s = pd.Series([1, np.nan, np.nan,2, np.nan, 3])
s

0    1.0
1    NaN
2    NaN
3    2.0
4    NaN
5    3.0
dtype: float64

In [10]:
s_filled = s.ffill()  # 이전 값으로 채우기
print(s_filled)

0    1.0
1    1.0
2    1.0
3    2.0
4    2.0
5    3.0
dtype: float64

In [11]:
s_bfilled = s.bfill()
print(s_bfilled)

0    1.0
1    2.0
2    2.0
3    2.0
4    3.0
5    3.0
dtype: float64

In [13]:
data_path = Path('../data_analysis/datasets/bookings/Bookings.csv')
df = pd.read_csv(data_path)
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 307 entries, 0 to 333
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Hotel_Name    307 non-null    object
 1   Review        307 non-null    object
 2   Total_Review  307 non-null    object
 3   Rating        307 non-null    float64
 4   Location      307 non-null    object
dtypes: float64(1), object(4)
memory usage: 14.4+ KB

In [16]:
data_path = Path('../data_analysis/datasets/bookings/Bookings.csv')
df = pd.read_csv(data_path)
df = df.dropna(subset='Review', axis=0) # Review 열에 있는 결측치만 판단
df.info()
df['Review'].isna().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 325 entries, 0 to 343
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Hotel_Name    325 non-null    object
 1   Review        325 non-null    object
 2   Total_Review  317 non-null    object
 3   Rating        307 non-null    float64
 4   Location      325 non-null    object
dtypes: float64(1), object(4)
memory usage: 15.2+ KB

0